# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
dist/
build/
.next/
coverage/
.npm/

# Java
target/
*.class
*.jar
*.war
*.ear
.settings/
.classpath
.project
.springBeans

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
application-secrets.yml

# Databases
backend/data/
*.db
